header {
    text-align: center;
    background-color: #38040e;
    color: white;
    padding: 40px;
}
.hyperlink {
    color: white;
    text-decoration: none;
    margin: 20px;
}
.hyperlink:hover {
    color: #AD2831;
    transition: 0.4s ease-out;
}
footer {
    justify-content: space-between;
    background-color: #38040e;
    color: white;
    padding: 20px 40px;
    margin-top: 100%;
    display: flex;
    align-items: center;
}
.footer-left,
.footer-right,
.footer-middle {
    flex: 1;
}
.footer-left{
    text-align: left;
}
.footer-middle{
    text-align: center;
    font-weight: bold;
}
.footer-right{
    text-align: right;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #AD2831;
    transition: 0.4s ease-out;
}
.image {
    position: sticky;
    top: 0;
    height: 70vh;
    background: url("https://i.pinimg.com/1200x/da/66/37/da663756b9891910d9428951a965a72c.jpg") center / cover no-repeat;
    transition: opacity 0.5s ease;
    z-index: 1;
    overflow: hidden;
}
.image h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 4rem;
    white-space: nowrap;
}
.content {
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 100px 50px;
}
.flexbox {
    display: flex;
    gap: 20px;
}
.main-box{
    flex: 1;
    background-color: #38040e;
    text-align: center;
    font-size: 1.2rem;
}
body {
    min-height: 200vh;
    padding: 0;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}