header {
    text-align: center;
    background-color: #38040e;
    color: white;
    padding: 30px;
}
.hyperlink {
    color: white;
    text-decoration: none;
    margin: 20px;
}
.hyperlink:hover {
    color: #AD2831;
    transition: 0.4s ease-out;
}
body{
    background-color: #ede7e3;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}